<%= form_for([@post, @post.comments.build]) do |f| %>
	<p>
		<h3> Nom </h3>
		<%= f.text_field :name %>
	</p>

	<p>
		<h3> Exprime toi </h3>
		<%= f.text_area :body %>
	</p>
	<br>
	<p>
		<%= f.submit %>
	</p>
<% end %>