<div id="page_wrapper">
	<div id="Dbz">
		<%= image_tag "logo.svg" %>
	</div>

	<div id="content">
		<h1>Bienvenue dans l'encylopédie des maillots de foot</h1>
		<p>Ici est répertorié tous les maillots de foot du monde</p>
		<p>PAR VOUS !</p>
		<p>En cas de problème, contactez 
		Mamadoulamine ou moi sur nos Facebook respective : <a href="https://www.facebook.com/mams.guirassy">Mams Guirassy</a> et <a href="https://www.facebook.com/camil.suwsuw">Camil Harchi</a></p>
	</div>
</div>